# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

import httpx

from ..._types import Body, Query, Headers, NotGiven, not_given
from ..._utils import maybe_transform, async_maybe_transform
from ..._compat import cached_property
from ..._resource import SyncAPIResource, AsyncAPIResource
from ..._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ...types.vault import graphrag_initialize_params
from ..._base_client import make_request_options

__all__ = ["GraphragResource", "AsyncGraphragResource"]


class GraphragResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> GraphragResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/router-python#accessing-raw-response-data-eg-headers
        """
        return GraphragResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> GraphragResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/router-python#with_streaming_response
        """
        return GraphragResourceWithStreamingResponse(self)

    def initialize(
        self,
        id: str,
        *,
        body: object,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        POST /vault/:id/graphrag/init

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._post(
            f"/vault/{id}/graphrag/init",
            body=maybe_transform(body, graphrag_initialize_params.GraphragInitializeParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    def retrieve_stats(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        GET /vault/:id/graphrag/stats

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return self._get(
            f"/vault/{id}/graphrag/stats",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )


class AsyncGraphragResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncGraphragResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/router-python#accessing-raw-response-data-eg-headers
        """
        return AsyncGraphragResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncGraphragResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/router-python#with_streaming_response
        """
        return AsyncGraphragResourceWithStreamingResponse(self)

    async def initialize(
        self,
        id: str,
        *,
        body: object,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        POST /vault/:id/graphrag/init

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._post(
            f"/vault/{id}/graphrag/init",
            body=await async_maybe_transform(body, graphrag_initialize_params.GraphragInitializeParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )

    async def retrieve_stats(
        self,
        id: str,
        *,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> object:
        """
        GET /vault/:id/graphrag/stats

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        if not id:
            raise ValueError(f"Expected a non-empty value for `id` but received {id!r}")
        return await self._get(
            f"/vault/{id}/graphrag/stats",
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=object,
        )


class GraphragResourceWithRawResponse:
    def __init__(self, graphrag: GraphragResource) -> None:
        self._graphrag = graphrag

        self.initialize = to_raw_response_wrapper(
            graphrag.initialize,
        )
        self.retrieve_stats = to_raw_response_wrapper(
            graphrag.retrieve_stats,
        )


class AsyncGraphragResourceWithRawResponse:
    def __init__(self, graphrag: AsyncGraphragResource) -> None:
        self._graphrag = graphrag

        self.initialize = async_to_raw_response_wrapper(
            graphrag.initialize,
        )
        self.retrieve_stats = async_to_raw_response_wrapper(
            graphrag.retrieve_stats,
        )


class GraphragResourceWithStreamingResponse:
    def __init__(self, graphrag: GraphragResource) -> None:
        self._graphrag = graphrag

        self.initialize = to_streamed_response_wrapper(
            graphrag.initialize,
        )
        self.retrieve_stats = to_streamed_response_wrapper(
            graphrag.retrieve_stats,
        )


class AsyncGraphragResourceWithStreamingResponse:
    def __init__(self, graphrag: AsyncGraphragResource) -> None:
        self._graphrag = graphrag

        self.initialize = async_to_streamed_response_wrapper(
            graphrag.initialize,
        )
        self.retrieve_stats = async_to_streamed_response_wrapper(
            graphrag.retrieve_stats,
        )
